Repository pagopa/io-cgn, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, external-interface-changes, documentation

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/openapi/*.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]

added gitkeep
  apps/.gitkeep
  infra/.gitkeep
Labels: infra

added terraform
  infra/github-runner/prod/.terraform.lock.hcl
  infra/github-runner/prod/locals.tf
  infra/github-runner/prod/main.tf
  infra/github-runner/prod/outputs.tf
  infra/identity/prod/.terraform.lock.hcl
  infra/identity/prod/README.md
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/identity/prod/outputs.tf
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_branch_rules.tf
  infra/repository/github_environment_cd.tf
  infra/repository/github_environment_ci.tf
  infra/repository/github_repo_secrets.tf
  infra/repository/github_repository.tf
  infra/repository/locals.tf
  infra/repository/main.tf
  infra/repository/outputs.tf
  infra/resources/_modules/.gitkeep
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/data.tf
  infra/resources/prod/locals.tf
  infra/resources/prod/main.tf
  infra/resources/prod/outputs.tf
Labels: infra

fixed doc
  infra/identity/prod/README.md
  infra/repository/README.md
Labels: infra

app merchant infra + fixes to app
  apps/merchant-func/utils/config.ts
  apps/merchant-func/utils/healthcheck.ts
  infra/resources/_modules/function_app_merchant/function_app_merchant.tf
  infra/resources/_modules/function_app_merchant/locals.tf
  infra/resources/_modules/function_app_merchant/main.tf
  infra/resources/_modules/function_app_merchant/outputs.tf
  infra/resources/_modules/function_app_merchant/variables.tf
  infra/resources/prod/main.tf
  infra/resources/prod/merchant_func.tf
Labels: infra

added vault and search function
  apps/search-func/env.example
  apps/search-func/utils/config.ts
  infra/resources/_modules/.gitkeep
  infra/resources/_modules/function_app_search/function_app_search.tf
  infra/resources/_modules/function_app_search/locals.tf
  infra/resources/_modules/function_app_search/main.tf
  infra/resources/_modules/function_app_search/outputs.tf
  infra/resources/_modules/function_app_search/variables.tf
  infra/resources/_modules/key_vaults/key_vault_cgn.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/data.tf
  infra/resources/prod/func_merchant.tf
  infra/resources/prod/func_search.tf
  infra/resources/prod/main.tf
Labels: infra

added roles for vault
  infra/identity/prod/locals.tf
Labels: infra

fixed roles for actions
  infra/identity/prod/locals.tf
Labels: infra

added roles also to ci user
  infra/identity/prod/main.tf
Labels: infra

added roles also to ci user
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
Labels: infra

fixed permissions
  infra/identity/prod/locals.tf
Labels: infra

fix + deploy action
  .changeset/config.json
  .github/workflows/deploy-mechant-func.yaml
Labels: none

added deploy search func
  .github/workflows/deploy-search-func.yaml
Labels: none

removed useless env var
  apps/search-func/utils/config.ts
Labels: none

fixed hc path
  infra/resources/_modules/function_app_search/function_app_search.tf
Labels: infra

added card func context doc
  docs/card-func/context.puml
Labels: documentation

added card func container doc
  docs/card-func/container.puml
Labels: documentation

added card func cgn activation sequence
  docs/card-func/activate_cgn_sequence.puml
Labels: documentation

sequence diagrams
  docs/card-func/activate_cgn_sequence.puml
  docs/card-func/activate_eyca_sequence.puml
  docs/card-func/container.puml
Labels: documentation

fixed cidr
  infra/resources/prod/func_card.tf
Labels: infra

fixed cidr
  infra/resources/prod/func_card.tf
Labels: infra

fixes
  .gitignore
  yarn.lock
Labels: none

removed src folder
  apps/card-func/__mocks__/mock.ts
  apps/card-func/clients/eyca.ts
  apps/card-func/clients/services.ts
  apps/card-func/functions/health.ts
  apps/card-func/handlers/health.ts
  apps/card-func/main.ts
  apps/card-func/models/__tests__/user_cgn.test.ts
  apps/card-func/models/user_card_versionend_deletable.ts
  apps/card-func/models/user_cgn.ts
  apps/card-func/models/user_eyca_card.ts
  apps/card-func/openapi/eyca.yaml
  apps/card-func/openapi/index.yaml
  apps/card-func/package.json
  apps/card-func/utils/__tests__/cgn_checks.test.ts
  apps/card-func/utils/__tests__/eyca.test.ts
  apps/card-func/utils/__tests__/redis.test.ts
  apps/card-func/utils/__tests__/redis_storage.test.ts
  apps/card-func/utils/__tests__/table_storage.test.ts
  apps/card-func/utils/appinsights.ts
  apps/card-func/utils/card_expiration.ts
  apps/card-func/utils/cgnCode.ts
  apps/card-func/utils/cgn_checks.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/conversions.ts
  apps/card-func/utils/cosmosdb.ts
  apps/card-func/utils/errors.ts
  apps/card-func/utils/eyca.ts
  apps/card-func/utils/fetch.ts
  apps/card-func/utils/hash.ts
  apps/card-func/utils/healthcheck.ts
  apps/card-func/utils/messages.ts
  apps/card-func/utils/models.ts
  apps/card-func/utils/notifications.ts
  apps/card-func/utils/queue.ts
  apps/card-func/utils/redis.ts
  apps/card-func/utils/redis_storage.ts
  apps/card-func/utils/table_storage.ts
Labels: external-interface-changes

defined main file
  apps/card-func/package.json
Labels: none

try pm4 conf
  apps/card-func/host.json
  apps/card-func/main.ts
  apps/card-func/package.json
Labels: none

try
  apps/card-func/package.json
Labels: none

try
  apps/card-func/package.json
  yarn.lock
Labels: none

try
  apps/card-func/.funcignore
  apps/card-func/package.json
  apps/card-func/src/__mocks__/mock.ts
  apps/card-func/src/clients/eyca.ts
  apps/card-func/src/clients/services.ts
  apps/card-func/src/functions/health.ts
  apps/card-func/src/handlers/health.ts
  apps/card-func/src/main.ts
  apps/card-func/src/models/__tests__/user_cgn.test.ts
  apps/card-func/src/models/user_card_versionend_deletable.ts
  apps/card-func/src/models/user_cgn.ts
  apps/card-func/src/models/user_eyca_card.ts
  apps/card-func/src/openapi/eyca.yaml
  apps/card-func/src/openapi/index.yaml
  apps/card-func/src/utils/__tests__/cgn_checks.test.ts
  apps/card-func/src/utils/__tests__/eyca.test.ts
  apps/card-func/src/utils/__tests__/redis.test.ts
  apps/card-func/src/utils/__tests__/redis_storage.test.ts
  apps/card-func/src/utils/__tests__/table_storage.test.ts
  apps/card-func/src/utils/appinsights.ts
  apps/card-func/src/utils/card_expiration.ts
  apps/card-func/src/utils/cgnCode.ts
  apps/card-func/src/utils/cgn_checks.ts
  apps/card-func/src/utils/config.ts
  apps/card-func/src/utils/conversions.ts
  apps/card-func/src/utils/cosmosdb.ts
  apps/card-func/src/utils/errors.ts
  apps/card-func/src/utils/eyca.ts
  apps/card-func/src/utils/fetch.ts
  apps/card-func/src/utils/hash.ts
  apps/card-func/src/utils/healthcheck.ts
  apps/card-func/src/utils/messages.ts
  apps/card-func/src/utils/models.ts
  apps/card-func/src/utils/notifications.ts
  apps/card-func/src/utils/queue.ts
  apps/card-func/src/utils/redis.ts
  apps/card-func/src/utils/redis_storage.ts
  apps/card-func/src/utils/table_storage.ts
Labels: external-interface-changes

fixed
  apps/card-func/src/utils/config.ts
Labels: none

fixes infra
  infra/identity/prod/locals.tf
  infra/identity/prod/main.tf
  infra/resources/_modules/function_app_card/locals.tf
  infra/resources/_modules/function_app_card/variables.tf
  infra/resources/prod/func_card.tf
  infra/resources/prod/func_merchant.tf
Labels: infra

fixes infra
  infra/resources/prod/func_card.tf
Labels: infra

app name
  apps/card-func/package.json
  yarn.lock
Labels: none

fixed types
  apps/card-func/utils/activity.ts
  apps/card-func/utils/errors.ts
  apps/card-func/utils/models.ts
  apps/card-func/utils/special_service.ts
Labels: none

fix
  apps/card-func/utils/config.ts
Labels: none

Imported StartCGNActivation as CGN1_StartActivation
  .gitignore
  apps/card-func/CGN1_StartActivation/__tests__/handler.test.ts
  apps/card-func/CGN1_StartActivation/function.json
  apps/card-func/CGN1_StartActivation/handler.ts
  apps/card-func/CGN1_StartActivation/index.ts
  apps/card-func/Health/__tests__/handler.test.ts
  apps/card-func/Health/function.json
  apps/card-func/Health/handler.ts
  apps/card-func/Health/index.ts
  apps/card-func/package.json
  apps/card-func/utils/__tests__/orchestrators.test.ts
  apps/card-func/utils/activation.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/errors.ts
  apps/card-func/utils/eyca.ts
  apps/card-func/utils/orchestrators.ts
  apps/card-func/utils/queue.ts
  apps/card-func/utils/retry_policies.ts
  yarn.lock
Labels: none

fix
  apps/card-func/Health/function.json
Labels: none

fix
  apps/card-func/CGN1_StartActivation/function.json
Labels: none

minor fixes
  apps/card-func/CGN1_StartActivation/function.json
  apps/card-func/__mocks__/durable-functions.ts
  apps/card-func/extensions.csproj
Labels: none

added process activation function
  apps/card-func/CGN1_StartActivation/handler.ts
  apps/card-func/CGN2_ProcessActivation/__tests__/handler.test.ts
  apps/card-func/CGN2_ProcessActivation/function.json
  apps/card-func/CGN2_ProcessActivation/handler.ts
  apps/card-func/CGN2_ProcessActivation/index.ts
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/base64.ts
  apps/card-func/utils/cgn_checks.ts
  apps/card-func/utils/errors.ts
  apps/card-func/utils/table_storage.ts
Labels: none

added tests
  apps/card-func/CGN2_ProcessActivation/__tests__/handler.test.ts
  apps/card-func/CgnActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnActivation_1_Start/function.json
  apps/card-func/CgnActivation_1_Start/handler.ts
  apps/card-func/CgnActivation_1_Start/index.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/function.json
  apps/card-func/CgnActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/index.ts
  apps/card-func/jest.config.js
  apps/card-func/utils/errors.ts
  apps/card-func/utils/queue.ts
Labels: none

refactored mocks
  apps/card-func/@types/redis-clustr/index.d.ts
  apps/card-func/CgnActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/__mocks__/mock.ts
Labels: none
