Repository pagopa/io-cgn, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, external-interface-changes, documentation

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/openapi/*.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]

fixed trigger queue name
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/function.json
Labels: none

fixed trigger queue name (#5)
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/function.json
Labels: none

Fixed some issues
  apps/card-func/CardsDelete_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsDelete_1_Start/handler.ts
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/__tests__/handler.test.ts
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/handler.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/__tests__/handler.test.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/handler.ts
  apps/card-func/CgnActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnActivation_1_Start/handler.ts
  apps/card-func/EycaActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/EycaActivation_1_Start/handler.ts
  apps/card-func/openapi/index.yaml
Labels: external-interface-changes

changeset
  .changeset/tame-ties-joke.md
Labels: none

format
  apps/card-func/openapi/index.yaml
Labels: external-interface-changes

[#PE-718] Fixed some issues (#6)
  .changeset/tame-ties-joke.md
  apps/card-func/CardsDelete_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsDelete_1_Start/handler.ts
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/__tests__/handler.test.ts
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/handler.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/__tests__/handler.test.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/handler.ts
  apps/card-func/CgnActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnActivation_1_Start/handler.ts
  apps/card-func/EycaActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/EycaActivation_1_Start/handler.ts
  apps/card-func/openapi/index.yaml
Labels: external-interface-changes

added barbatrick to allow app to wait for eyca async activation
  apps/card-func/EycaActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/GetEycaStatus/handler.ts
Labels: none

updated tests
  apps/card-func/GetEycaStatus/__tests__/handler.test.ts
  apps/card-func/GetEycaStatus/handler.ts
Labels: none

changeset
  .changeset/mighty-beans-smoke.md
Labels: none

[FIX] Added barbatrick to allow app to wait for eyca async activation (#8)
  .changeset/mighty-beans-smoke.md
  apps/card-func/EycaActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/GetEycaStatus/__tests__/handler.test.ts
  apps/card-func/GetEycaStatus/handler.ts
Labels: none

Added count endpoint, added lenght token filter to search, added refresh merchant view
  apps/search-func/Count/__tests__/handler.test.ts
  apps/search-func/Count/function.json
  apps/search-func/Count/handler.ts
  apps/search-func/Count/index.ts
  apps/search-func/RefreshMaterializedViews/handler.ts
  apps/search-func/Search/__tests__/handler.test.ts
  apps/search-func/Search/handler.ts
  apps/search-func/models/CountModel.ts
  apps/search-func/openapi/external.yaml
  apps/search-func/openapi/index.yaml
  apps/search-func/utils/postgres_queries.ts
Labels: external-interface-changes

fixes
  apps/search-func/RefreshMaterializedViews/__tests__/handler.test.ts
  apps/search-func/openapi/index.yaml
Labels: external-interface-changes

added changeset
  .changeset/flat-geckos-hug.md
Labels: none

fix
  apps/search-func/Count/handler.ts
  apps/search-func/Count/index.ts
Labels: none

[#PE-730] Search endpoint fixes and new Count endpoint (#10)
  .changeset/flat-geckos-hug.md
  apps/search-func/Count/__tests__/handler.test.ts
  apps/search-func/Count/function.json
  apps/search-func/Count/handler.ts
  apps/search-func/Count/index.ts
  apps/search-func/RefreshMaterializedViews/__tests__/handler.test.ts
  apps/search-func/RefreshMaterializedViews/handler.ts
  apps/search-func/Search/__tests__/handler.test.ts
  apps/search-func/Search/handler.ts
  apps/search-func/models/CountModel.ts
  apps/search-func/openapi/external.yaml
  apps/search-func/openapi/index.yaml
  apps/search-func/utils/postgres_queries.ts
Labels: external-interface-changes

fixed semver
  .changeset/heavy-carpets-talk.md
Labels: none

extracted result from array
  apps/search-func/Count/handler.ts
Labels: none

fixed tests and model
  apps/search-func/Count/__tests__/handler.test.ts
  apps/search-func/Count/handler.ts
  apps/search-func/models/CountModel.ts
Labels: none

fixed query datatype
  apps/search-func/utils/postgres_queries.ts
Labels: none

fix after removing model
  apps/search-func/Count/handler.ts
Labels: none

adapted test to code
  apps/search-func/Count/__tests__/handler.test.ts
  apps/search-func/Count/handler.ts
Labels: none

added changeset
  .changeset/many-scissors-invite.md
Labels: none

Extracted result from array (#13)
  .changeset/many-scissors-invite.md
  apps/search-func/Count/__tests__/handler.test.ts
  apps/search-func/Count/handler.ts
  apps/search-func/models/CountModel.ts
  apps/search-func/utils/postgres_queries.ts
Labels: none

send message sequence
  docs/card-func/send_card_message_sequence.puml
Labels: documentation

expiration sequence
  docs/card-func/expire_cgn_sequence.puml
  docs/card-func/expire_eyca_sequence.puml
  docs/card-func/send_card_message_sequence.puml
Labels: documentation

docs and fix
  .changeset/short-books-count.md
  apps/search-func/utils/postgres_queries.ts
  docs/search-func/container.puml
  docs/search-func/context.puml
  docs/search-func/count_merchants_sequence.puml
  docs/search-func/search_merchants_sequence.puml
Labels: documentation

fixed dropped columns
  apps/search-func/GetMerchant/__tests__/handler.test.ts
  apps/search-func/GetMerchant/handler.ts
  apps/search-func/models/MerchantProfileModel.ts
  apps/search-func/utils/postgres_queries.ts
Labels: none

fixed tests
  apps/search-func/GetMerchant/__tests__/handler.test.ts
  apps/search-func/GetMerchant/handler.ts
  apps/search-func/Search/__tests__/handler.test.ts
Labels: none

added changeset
  .changeset/eight-ties-juggle.md
Labels: none

[HOTFIX] Fixed dropped columns (#16)
  .changeset/eight-ties-juggle.md
  apps/search-func/GetMerchant/handler.ts
  apps/search-func/Search/__tests__/handler.test.ts
  apps/search-func/models/MerchantProfileModel.ts
  apps/search-func/utils/postgres_queries.ts
Labels: none

init attribute authority itn uat infra migration
  infra/resources/_modules/app_service_attribute_authority_uat/app_service_attribute_authority.tf
  infra/resources/_modules/app_service_attribute_authority_uat/locals.tf
  infra/resources/_modules/app_service_attribute_authority_uat/main.tf
  infra/resources/_modules/app_service_attribute_authority_uat/outputs.tf
  infra/resources/_modules/app_service_attribute_authority_uat/variables.tf
  infra/resources/prod/attribute_authority_ms.tf
Labels: infra

refactored infra for prod and uat environments
  infra/resources/_modules/app_service_attribute_authority/app_service_attribute_authority.tf
  infra/resources/_modules/app_service_attribute_authority/locals.tf
  infra/resources/_modules/app_service_attribute_authority/main.tf
  infra/resources/_modules/app_service_attribute_authority/outputs.tf
  infra/resources/_modules/app_service_attribute_authority/variables.tf
  infra/resources/_modules/app_service_attribute_authority_uat/main.tf
  infra/resources/_modules/function_app_card/function_app_card.tf
  infra/resources/_modules/function_app_card/locals.tf
  infra/resources/_modules/function_app_merchant/function_app_merchant.tf
  infra/resources/_modules/function_app_merchant/locals.tf
  infra/resources/_modules/function_app_search/function_app_search.tf
  infra/resources/_modules/function_app_search/locals.tf
  infra/resources/prod/data_pe.tf
  infra/resources/prod/main.tf
  infra/resources/uat/attribute_authority_ms.tf
  infra/resources/uat/data_pe.tf
  infra/resources/uat/locals.tf
  infra/resources/uat/main.tf
  infra/resources/uat/outputs.tf
Labels: infra

refactored infra and added uat/prod esercenti
  infra/resources/_modules/networking/data.tf
  infra/resources/_modules/networking/locals.tf
  infra/resources/_modules/networking/main.tf
  infra/resources/_modules/networking/outputs.tf
  infra/resources/_modules/networking/snet_private_endpoints.tf
  infra/resources/_modules/networking/variables.tf
  infra/resources/_modules/networking/vnet_common.tf
  infra/resources/uat/.terraform.lock.hcl
  infra/resources/uat/attribute_authority_ms.tf
  infra/resources/uat/data.tf
  infra/resources/uat/data_pe.tf
  infra/resources/uat/main.tf
  infra/resources/uat/main_pe.tf
Labels: infra

added uat actions
  .github/workflows/infra-release-uat.yaml
  .github/workflows/infra-review-uat.yaml
Labels: none

fixed actions names
  .github/workflows/infra-release-uat.yaml
  .github/workflows/infra-review-uat.yaml
Labels: none

fixed sensitive variable
  infra/resources/_modules/app_service_attribute_authority/variables.tf
  infra/resources/_modules/function_app_card/variables.tf
  infra/resources/_modules/function_app_merchant/variables.tf
  infra/resources/_modules/function_app_search/variables.tf
Labels: infra

imported attribute authority code, updated to node 20 and cleaned
  apps/attribute-authority-ms/.env.example
  apps/attribute-authority-ms/.eslintrc.js
  apps/attribute-authority-ms/.gitignore
  apps/attribute-authority-ms/.node-version
  apps/attribute-authority-ms/.nvmrc
  apps/attribute-authority-ms/README.md
  apps/attribute-authority-ms/jest.config.js
  apps/attribute-authority-ms/openapi/index.yaml
  apps/attribute-authority-ms/package.json
  apps/attribute-authority-ms/src/handlers/company.ts
  apps/attribute-authority-ms/src/handlers/organization.ts
  apps/attribute-authority-ms/src/handlers/referent.ts
  apps/attribute-authority-ms/src/middlewares/path_params.ts
  apps/attribute-authority-ms/src/middlewares/query_params.ts
  apps/attribute-authority-ms/src/middlewares/request_middleware.ts
  apps/attribute-authority-ms/src/middlewares/required_body_payload.ts
  apps/attribute-authority-ms/src/models/dbModels.ts
  apps/attribute-authority-ms/src/models/parameters.ts
  apps/attribute-authority-ms/src/server.ts
  apps/attribute-authority-ms/src/services/__tests__/companyService.test.ts
  apps/attribute-authority-ms/src/services/companyService.ts
  apps/attribute-authority-ms/src/services/organizationService.ts
  apps/attribute-authority-ms/src/services/referentService.ts
  apps/attribute-authority-ms/src/utils/config.ts
  apps/attribute-authority-ms/src/utils/errorsFormatter.ts
  apps/attribute-authority-ms/src/utils/postgres_queries.ts
  apps/attribute-authority-ms/src/utils/response.ts
  apps/attribute-authority-ms/src/utils/sequelize-options.ts
  apps/attribute-authority-ms/src/utils/startup.ts
  apps/attribute-authority-ms/src/utils/types.ts
  apps/attribute-authority-ms/tsconfig.json
  apps/attribute-authority-ms/turbo.json
  yarn.lock
Labels: external-interface-changes

added filter also on referents of an organization to search the organizations by referent
  apps/attribute-authority-ms/src/services/organizationService.ts
Labels: none

fix: repo and identity
  infra-io/repository/locals.tf
  infra-pe/github-runner/_modules/common/locals.tf
  infra-pe/github-runner/_modules/common/outputs.tf
  infra-pe/github-runner/_modules/common/variables.tf
  infra-pe/github-runner/prod/locals.tf
  infra-pe/github-runner/prod/main.tf
  infra-pe/github-runner/uat/main.tf
  infra-pe/identity/uat/main.tf
  infra-pe/repository/_modules/repo_environment/locals.tf
Labels: none

fix: ddos protection
  infra-pe/resources/_modules/networking/variables.tf
  infra-pe/resources/_modules/networking/vnet_common.tf
  infra-pe/resources/prod/.terraform.lock.hcl
  infra-pe/resources/prod/main.tf
  infra-pe/resources/uat/main.tf
Labels: none
