Repository pagopa/io-cgn, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, external-interface-changes, documentation

Remove engineering-team-cloud-eng team (#135)
  infra-pe/repository/_modules/repo_environment/variables.tf
Labels: none

added data factory and storage
  infra-pe/resources/_modules/data_factory/cosmosdb_private_endpoint.tf
  infra-pe/resources/_modules/data_factory/data_factory.tf
  infra-pe/resources/_modules/data_factory/iam.tf
  infra-pe/resources/_modules/data_factory/locals.tf
  infra-pe/resources/_modules/data_factory/main.tf
  infra-pe/resources/_modules/data_factory/outputs.tf
  infra-pe/resources/_modules/data_factory/storage.tf
  infra-pe/resources/_modules/data_factory/variables.tf
  infra-pe/resources/_modules/dns/variables.tf
  infra-pe/resources/prod/.terraform.lock.hcl
  infra-pe/resources/prod/data_factory.tf
  infra-pe/resources/prod/main.tf
Labels: none

feat(infra): grant RBAC to card-func on CGN storage and add identity-based connection settings
  infra-io/resources/_modules/function_app_card/locals.tf
  infra-io/resources/_modules/function_app_card/variables.tf
  infra-io/resources/prod/func_card.tf
  infra-io/resources/prod/iam.tf
Labels: none

feat(app): migrate card-func and support-func from connection string to RBAC/identity-based storage
  apps/card-func/env.example
  apps/card-func/package.json
  apps/card-func/src/main.ts
  apps/card-func/utils/__tests__/table_storage.test.ts
  apps/card-func/utils/card_expiration.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/healthcheck.ts
  apps/card-func/utils/models.ts
  apps/card-func/utils/queue.ts
  apps/card-func/utils/table_storage.ts
  apps/support-func/package.json
  apps/support-func/utils/config.ts
  apps/support-func/utils/healthcheck.ts
  pnpm-lock.yaml
Labels: none

chore(infra): remove CGN_STORAGE_CONNECTION_STRING from function app settings
  infra-io/resources/_modules/function_app_card/locals.tf
  infra-io/resources/_modules/function_app_card/variables.tf
  infra-io/resources/_modules/function_app_support/locals.tf
  infra-io/resources/_modules/function_app_support/variables.tf
  infra-io/resources/prod/func_card.tf
  infra-io/resources/prod/func_support.tf
Labels: none

chore(infra): remove storage_cgn_connection_string Key Vault secret data source
  infra-io/resources/prod/data.tf
Labels: none

Introduce expiration remediation queue contract and configuration scaffolding
  apps/card-func/.env.example
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/queue.ts
Labels: none

chore: bump js_code_review version to its latest
  .github/workflows/code-review.yaml
Labels: none

chore: update actions to their latest versions
  .github/workflows/release.yaml
Labels: none

chore: update actions to their latest versions
  .github/workflows/java_web_app_deploy.yaml
Labels: none

Update README.md
  README.md
Labels: documentation

chore: remove io-cgn.sln
  io-cgn.sln
Labels: none

fixed permissions identity
  infra-pe/identity/prod/data.tf
  infra-pe/identity/prod/main.tf
Labels: none

chore: remove io-cgn.sln (#144)
  io-cgn.sln
Labels: none

chore: update actions to their latest versions
  .github/workflows/cdn_deploy.yaml
Labels: none

chore: bump `js_code_review` version to its latest (#140)
  .github/workflows/code-review.yaml
Labels: none

chore: update actions to their latest versions to `release` workflow. (#141)
  .github/workflows/release.yaml
Labels: none

chore: update actions to their latest versions to `cdn_deploy` workflow (#145)
  .github/workflows/cdn_deploy.yaml
Labels: none

feat(card-func): add expiration remediation flow for CGN and EYCA
  apps/card-func/CardsExpirationRemediation_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsExpirationRemediation_1_Start/handler.ts
  apps/card-func/CardsExpirationRemediation_2_ProcessQueue/__tests__/handler.test.ts
  apps/card-func/CardsExpirationRemediation_2_ProcessQueue/handler.ts
  apps/card-func/__mocks__/mock.ts
  apps/card-func/openapi/index.yaml
  apps/card-func/src/main.ts
Labels: external-interface-changes

added recovery queue
  infra-io/resources/_modules/storage/storage.tf
Labels: none

Rename recovery flow and align card-func contract
  apps/card-func/.env.example
  apps/card-func/CardsExpirationRemediation_1_Start/handler.ts
  apps/card-func/CardsRecovery_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsRecovery_1_Start/handler.ts
  apps/card-func/CardsRecovery_2_ProcessQueue/__tests__/handler.test.ts
  apps/card-func/CardsRecovery_2_ProcessQueue/handler.ts
  apps/card-func/README.md
  apps/card-func/__mocks__/mock.ts
  apps/card-func/env.example
  apps/card-func/openapi/index.yaml
  apps/card-func/src/main.ts
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/queue.ts
Labels: external-interface-changes

refactor: use dx instead of io-infra cert renewal workflow
  .github/workflows/renew_agw_certificates.yaml
Labels: none

fixed linter
  apps/card-func/CardsRecovery_1_Start/handler.ts
  apps/card-func/src/main.ts
Labels: none

fixed typo
  apps/card-func/CardsRecovery_1_Start/__tests__/handler.test.ts
Labels: none

fixes and settings
  apps/card-func/CardsRecovery_2_ProcessQueue/__tests__/handler.test.ts
  infra-io/resources/_modules/function_app_card/locals.tf
  infra-io/resources/_modules/function_app_card/variables.tf
  infra-io/resources/prod/func_card.tf
Labels: none

changeset
  .changeset/orange-dryers-fly.md
Labels: none

fixed turbo
  turbo.json
Labels: none

[IEG-2888] feat(card-func): add recovery flow for CGN and EYCA (#146)
  .changeset/orange-dryers-fly.md
  apps/card-func/.env.example
  apps/card-func/CardsRecovery_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsRecovery_1_Start/handler.ts
  apps/card-func/CardsRecovery_2_ProcessQueue/__tests__/handler.test.ts
  apps/card-func/CardsRecovery_2_ProcessQueue/handler.ts
  apps/card-func/README.md
  apps/card-func/__mocks__/mock.ts
  apps/card-func/env.example
  apps/card-func/openapi/index.yaml
  apps/card-func/src/main.ts
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/queue.ts
  infra-io/resources/_modules/function_app_card/locals.tf
  infra-io/resources/_modules/function_app_card/variables.tf
  infra-io/resources/_modules/storage/storage.tf
  infra-io/resources/prod/func_card.tf
  turbo.json
Labels: external-interface-changes

refactor: use `dx` instead of `io-infra` cert renewal workflow (#147)
  .github/workflows/renew_agw_certificates.yaml
Labels: none

chore: update actions to their latest versions for `java_web_app_deploy` (#142)
  .github/workflows/java_web_app_deploy.yaml
Labels: none

Grant RBAC to card-func on CGN storage and add identity-based env vars (#136)
  infra-io/resources/_modules/function_app_card/locals.tf
  infra-io/resources/_modules/function_app_card/variables.tf
  infra-io/resources/prod/func_card.tf
  infra-io/resources/prod/iam.tf
Labels: none

updated apis
  infra-pe/resources/prod/apim_backend_admin_api.tf
  infra-pe/resources/prod/apim_backend_operator_api.tf
  infra-pe/resources/prod/apim_backend_public_api.tf
  infra-pe/resources/uat/apim_backend_admin_api.tf
  infra-pe/resources/uat/apim_backend_operator_api.tf
  infra-pe/resources/uat/apim_backend_public_api.tf
Labels: none

(chore) changed state for agreement to be shown
  apps/search-func/utils/postgres_queries.ts
Labels: none

fixed action
  .github/workflows/renew_agw_certificates.yaml
Labels: none

added logic app for smart agent export
  infra-pe/resources/prod/logic_app.tf
Labels: none

updated logic app with an azuread_application
  docs/smart-agent-export-logic-app/gcp-federation.md
  infra-pe/resources/prod/logic_app.tf
Labels: documentation

removed azuread_application because it will be created on portal
  infra-pe/resources/prod/logic_app.tf
Labels: none

fixed logic app start
  infra-pe/resources/prod/logic_app.tf
Labels: none

fixed sku
  infra-pe/resources/prod/main.tf
  infra-pe/resources/uat/main.tf
Labels: none

removed trigger to not change the workflow
  infra-pe/resources/prod/logic_app.tf
Labels: none

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/openapi/*.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]
