Repository pagopa/io-cgn, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, external-interface-changes, documentation

added function to complete cgn activation, tests, and small refactors
  apps/card-func/CgnActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnActivation_1_Start/handler.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/function.json
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/handler.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/index.ts
  apps/card-func/__mocks__/mock.ts
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/queue.ts
Labels: none

added functions and tests
  apps/card-func/CgnActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/function.json
  apps/card-func/EycaActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/index.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/function.json
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/handler.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/index.ts
  apps/card-func/__mocks__/mock.ts
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/__tests__/eyca.test.ts
  apps/card-func/utils/errors.ts
  apps/card-func/utils/eyca.ts
Labels: none

added start eyca function and tests
  apps/card-func/EycaActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/EycaActivation_1_Start/function.json
  apps/card-func/EycaActivation_1_Start/handler.ts
  apps/card-func/EycaActivation_1_Start/index.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/index.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/handler.ts
  apps/card-func/__mocks__/mock.ts
Labels: none

fixed function input
  apps/card-func/CgnActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/EycaActivation_1_Start/function.json
Labels: none

fixed date parse
  apps/card-func/CgnActivation_2_ProcessPendingQueue/handler.ts
  infra/resources/_modules/function_app_card/function_app_search.tf
Labels: infra

fixed infra
  infra/resources/_modules/function_app_card/function_app_card.tf
Labels: infra

fixed input CgnActivation_3_ProcessActivatedQueue
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/handler.ts
  infra/resources/_modules/function_app_card/function_app_card.tf
Labels: infra

fixed tests
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
Labels: none

fixed input and tests EycaActivation_2_ProcessPendingQueue
  apps/card-func/EycaActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/handler.ts
Labels: none

fixed express path
  apps/card-func/EycaActivation_1_Start/index.ts
Labels: none

fixed dates
  apps/card-func/EycaActivation_2_ProcessPendingQueue/handler.ts
Labels: none

fixe infra, fixed input EycaActivation_3_ProcessActivatedQueue, and tests
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/handler.ts
  apps/card-func/__mocks__/mock.ts
  infra/resources/_modules/function_app_card/function_app_card.tf
  infra/resources/_modules/function_app_card/variables.tf
  infra/resources/prod/func_card.tf
Labels: infra

fixed dates
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/handler.ts
Labels: none

fixed date
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/handler.ts
Labels: none

added docs
  docs/card-func/delete_cards_sequence.puml
Labels: documentation

added env vars
  infra/resources/_modules/function_app_card/function_app_card.tf
  infra/resources/_modules/function_app_card/locals.tf
  infra/resources/_modules/function_app_card/variables.tf
  infra/resources/prod/func_card.tf
Labels: infra

added function to start cards deletion
  apps/card-func/CardsDelete_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsDelete_1_Start/function.json
  apps/card-func/CardsDelete_1_Start/handler.ts
  apps/card-func/CardsDelete_1_Start/index.ts
  apps/card-func/CgnActivation_1_Start/handler.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/handler.ts
  apps/card-func/EycaActivation_1_Start/handler.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/handler.ts
  apps/card-func/__mocks__/mock.ts
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/queue.ts
Labels: none

added cards deletion functions
  apps/card-func/CardsDelete_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/__tests__/handler.test.ts
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/function.json
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/handler.ts
  apps/card-func/CardsDelete_2_ProcessPendingDeleteCgnQueue/index.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/__tests__/handler.test.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/function.json
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/handler.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/index.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/__mocks__/mock.ts
  apps/card-func/utils/eyca.ts
  apps/card-func/utils/table_storage.ts
Labels: none

Imported support functions
  apps/card-func/GetCgnActivation/__tests__/handler.test.ts
  apps/card-func/GetCgnActivation/function.json
  apps/card-func/GetCgnActivation/handler.ts
  apps/card-func/GetCgnActivation/index.ts
  apps/card-func/GetCgnStatus/__tests__/handler.test.ts
  apps/card-func/GetCgnStatus/function.json
  apps/card-func/GetCgnStatus/handler.ts
  apps/card-func/GetCgnStatus/index.ts
  apps/card-func/GetEycaActivation/__tests__/handler.test.ts
  apps/card-func/GetEycaActivation/function.json
  apps/card-func/GetEycaActivation/handler.ts
  apps/card-func/GetEycaActivation/index.ts
  apps/card-func/GetEycaStatus/__tests__/handler.test.ts
  apps/card-func/GetEycaStatus/function.json
  apps/card-func/GetEycaStatus/handler.ts
  apps/card-func/GetEycaStatus/index.ts
  apps/card-func/UpsertCgnStatus/__tests__/handler.test.ts
  apps/card-func/UpsertCgnStatus/function.json
  apps/card-func/UpsertCgnStatus/handler.ts
  apps/card-func/UpsertCgnStatus/index.ts
  apps/card-func/utils/errors.ts
Labels: none

added functions to expire cgn and eyca (failing tests)
  apps/card-func/CgnExpired_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnExpired_1_Start/function.json
  apps/card-func/CgnExpired_1_Start/handler.ts
  apps/card-func/CgnExpired_1_Start/index.ts
  apps/card-func/CgnExpired_2_ProcessExpiredCgnQueue/__tests__/handler.test.ts
  apps/card-func/CgnExpired_2_ProcessExpiredCgnQueue/function.json
  apps/card-func/CgnExpired_2_ProcessExpiredCgnQueue/handler.ts
  apps/card-func/CgnExpired_2_ProcessExpiredCgnQueue/index.ts
  apps/card-func/EycaExpired_1_Start/__tests__/handler.test.ts
  apps/card-func/EycaExpired_1_Start/function.json
  apps/card-func/EycaExpired_1_Start/handler.ts
  apps/card-func/EycaExpired_1_Start/index.ts
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/__tests__/handler.test.ts
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/function.json
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/handler.ts
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/index.ts
  apps/card-func/SendMessage_ProcessMessagesQueue/__tests__/handler.test.ts
  apps/card-func/SendMessage_ProcessMessagesQueue/function.json
  apps/card-func/SendMessage_ProcessMessagesQueue/handler.ts
  apps/card-func/SendMessage_ProcessMessagesQueue/index.ts
  apps/card-func/types/queue-message.ts
  apps/card-func/utils/card_expiration.ts
  apps/card-func/utils/config.ts
  apps/card-func/utils/messages.ts
  apps/card-func/utils/queue.ts
Labels: none

refactored tests fro expiration funtions
  apps/card-func/CgnExpired_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnExpired_1_Start/handler.ts
  apps/card-func/CgnExpired_1_Start/index.ts
  apps/card-func/CgnExpired_2_ProcessExpiredCgnQueue/__tests__/handler.test.ts
  apps/card-func/EycaExpired_1_Start/__tests__/handler.test.ts
  apps/card-func/EycaExpired_1_Start/handler.ts
  apps/card-func/EycaExpired_1_Start/index.ts
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/__tests__/handler.test.ts
  apps/card-func/__mocks__/mock.ts
  apps/card-func/utils/card_expiration.ts
  apps/card-func/utils/debug.ts
Labels: none

fixed tests
  apps/card-func/CardsDelete_1_Start/__tests__/handler.test.ts
  apps/card-func/CardsDelete_3_ProcessPendingDeleteEycaQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/CgnActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/CgnExpired_2_ProcessExpiredCgnQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_1_Start/__tests__/handler.test.ts
  apps/card-func/EycaActivation_2_ProcessPendingQueue/__tests__/handler.test.ts
  apps/card-func/EycaExpired_2_ProcessExpiredEycaQueue/__tests__/handler.test.ts
Labels: none

added activation message sending
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/handler.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/handler.ts
  apps/card-func/EycaActivation_3_ProcessActivatedQueue/index.ts
Labels: none

fixed crontab and retry
  apps/card-func/CgnExpired_1_Start/function.json
  apps/card-func/EycaExpired_1_Start/function.json
Labels: none

fixed host json
  apps/card-func/host.json
Labels: none

fixed infra
  infra/resources/_modules/function_app_card/locals.tf
  infra/resources/_modules/function_app_card/variables.tf
  infra/resources/prod/func_card.tf
Labels: infra

fixed settings
  infra/resources/_modules/function_app_card/function_app_card.tf
Labels: infra

disabled time triggered function on staging
  infra/resources/_modules/function_app_card/function_app_card.tf
Labels: infra

fixed functions
  apps/card-func/GetCgnActivation/function.json
  apps/card-func/GetEycaActivation/function.json
  apps/card-func/UpsertCgnStatus/function.json
Labels: none

try to fix host json
  apps/card-func/host.json
Labels: none

fix test
  apps/card-func/CgnActivation_3_ProcessActivatedQueue/__tests__/handler.test.ts
Labels: none

try to fix time triggered functions
  apps/card-func/CgnExpired_1_Start/function.json
  apps/card-func/EycaExpired_1_Start/function.json
Labels: none

try
  apps/card-func/CgnExpired_1_Start/function.json
  apps/card-func/EycaExpired_1_Start/function.json
Labels: none

removed retry because it won't work with timer triggered functions
  apps/card-func/CgnExpired_1_Start/function.json
  apps/card-func/EycaExpired_1_Start/function.json
Labels: none

Added MerchantsSearch function
  apps/search-func/GetMerchants/__tests__/handler.test.ts
  apps/search-func/GetMerchants/function.json
  apps/search-func/GetMerchants/handler.ts
  apps/search-func/GetMerchants/index.ts
  apps/search-func/models/MerchantsModel.ts
  apps/search-func/openapi/external.yaml
  apps/search-func/openapi/index.yaml
  apps/search-func/utils/postgres_queries.ts
Labels: external-interface-changes

fixed functions to be generic
  apps/search-func/Search/__tests__/handler.test.ts
  apps/search-func/Search/function.json
  apps/search-func/Search/handler.ts
  apps/search-func/Search/index.ts
  apps/search-func/openapi/external.yaml
  apps/search-func/openapi/index.yaml
Labels: external-interface-changes

[#PE-728] Added MerchantsSearch function (#2)
  apps/search-func/Search/__tests__/handler.test.ts
  apps/search-func/Search/function.json
  apps/search-func/Search/handler.ts
  apps/search-func/Search/index.ts
  apps/search-func/models/MerchantsModel.ts
  apps/search-func/openapi/external.yaml
  apps/search-func/openapi/index.yaml
  apps/search-func/utils/postgres_queries.ts
Labels: external-interface-changes

removed folder from gitignore
  .gitignore
Labels: none

changeset
  .changeset/forty-rabbits-join.md
Labels: none

fixed id
  .changeset/orange-frogs-hug.md
  apps/search-func/openapi/external.yaml
  apps/search-func/openapi/index.yaml
Labels: external-interface-changes

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/openapi/*.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]
