Repository pagopa/io-cgn, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, external-interface-changes, documentation

removed named value created in io-cdc and reused for these policies
  infra-io/resources/prod/func_cgn_commons.tf
Labels: none

(chore): Migration to Azure Functions Programming Model V4
  .vscode/mcp.json
  apps/merchant-func/Info/__tests__/handler.test.ts
  apps/merchant-func/Info/function.json
  apps/merchant-func/Info/index.ts
  apps/merchant-func/README.md
  apps/merchant-func/ValidateOtp/function.json
  apps/merchant-func/ValidateOtp/index.ts
  apps/merchant-func/host.json
  apps/merchant-func/jest.config.cjs
  apps/merchant-func/jest.config.js
  apps/merchant-func/package.json
  apps/merchant-func/src/functions.ts
  apps/merchant-func/src/functions/Info/__tests__/handler.test.ts
  apps/merchant-func/src/functions/Info/handler.ts
  apps/merchant-func/src/functions/Info/index.ts
  apps/merchant-func/src/functions/ValidateOtp/__tests__/handler.test.ts
  apps/merchant-func/src/functions/ValidateOtp/handler.ts
  apps/merchant-func/src/functions/ValidateOtp/index.ts
  apps/merchant-func/src/utils/__tests__/redis.test.ts
  apps/merchant-func/src/utils/__tests__/redis_storage.test.ts
  apps/merchant-func/src/utils/appinsights.ts
  apps/merchant-func/src/utils/config.ts
  apps/merchant-func/src/utils/conversions.ts
  apps/merchant-func/src/utils/healthcheck.ts
  apps/merchant-func/src/utils/middleware.ts
  apps/merchant-func/src/utils/privacy.ts
  apps/merchant-func/src/utils/redis.ts
  apps/merchant-func/src/utils/redis_storage.ts
  apps/merchant-func/tsconfig.json
  docs/migration-v3-to-v4.md
  pnpm-lock.yaml
Labels: documentation

(chore): removed unwanted ts config property
  apps/merchant-func/tsconfig.json
Labels: none

(doc): updated migration plan
  docs/migration-v3-to-v4.md
Labels: documentation

fixed esm and config
  apps/merchant-func/package.json
  apps/merchant-func/src/functions/Info/handler.ts
  apps/merchant-func/src/functions/ValidateOtp/handler.ts
  apps/merchant-func/src/utils/appinsights.ts
  apps/merchant-func/src/utils/config.ts
  apps/merchant-func/src/utils/conversions.ts
  apps/merchant-func/src/utils/healthcheck.ts
  apps/merchant-func/src/utils/middleware.ts
  apps/merchant-func/src/utils/privacy.ts
  apps/merchant-func/src/utils/redis_storage.ts
  apps/merchant-func/tsconfig.json
  pnpm-lock.yaml
Labels: none

(chore): clean and try fix to start
  apps/merchant-func/.funcignore
  apps/merchant-func/host.json
  apps/merchant-func/local.settings.json.example
  apps/merchant-func/proxies.json
Labels: none

(fix): fixed telemetry client
  apps/merchant-func/src/utils/appinsights.ts
Labels: none

(chore): updated migration guide, cleaned app
  apps/merchant-func/docker/azurite/Dockerfile
  apps/merchant-func/docker/cosmosdb/Dockerfile
  apps/merchant-func/docker/functions/Dockerfile
  apps/merchant-func/host.json
  docs/migration-v3-to-v4.md
Labels: documentation

fix
  apps/merchant-func/tsconfig.json
Labels: none

Update apps/merchant-func/src/utils/middleware.ts
  apps/merchant-func/src/utils/middleware.ts
Labels: none

(fix): fix middleware
  apps/merchant-func/src/functions/ValidateOtp/handler.ts
  apps/merchant-func/src/utils/middleware.ts
Labels: none

Remove pnpm-plugin-pagopa
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

Update apps/merchant-func/README.md
  apps/merchant-func/README.md
Labels: none

Update apps/merchant-func/README.md
  apps/merchant-func/README.md
Labels: none

compile also tests to allow ts2esm to import correctly generated files
  apps/merchant-func/src/functions/Info/__tests__/handler.test.ts
  apps/merchant-func/src/functions/ValidateOtp/__tests__/handler.test.ts
  apps/merchant-func/src/utils/__tests__/redis_storage.test.ts
  apps/merchant-func/tsconfig.json
Labels: none

fixed review comments
  apps/merchant-func/src/functions/Info/index.ts
  apps/merchant-func/src/functions/ValidateOtp/index.ts
  apps/merchant-func/src/utils/middleware.ts
  docs/migration-v3-to-v4.md
Labels: documentation

run dx skill
  .github/skills/azure-functions-v4-migration/LICENSE.txt
  .github/skills/azure-functions-v4-migration/SKILL.md
  .github/skills/azure-functions-v4-migration/references/migration-guide.md
  .github/skills/azure-functions-v4-migration/templates/main.ts.template
  apps/merchant-func/package.json
  apps/merchant-func/src/functions.ts
  apps/merchant-func/src/functions/Info/__tests__/handler.test.ts
  apps/merchant-func/src/functions/Info/handler.ts
  apps/merchant-func/src/functions/Info/index.ts
  apps/merchant-func/src/functions/ValidateOtp/__tests__/handler.test.ts
  apps/merchant-func/src/functions/ValidateOtp/handler.ts
  apps/merchant-func/src/functions/ValidateOtp/index.ts
  apps/merchant-func/src/main.ts
  apps/merchant-func/src/utils/middleware.ts
  pnpm-lock.yaml
Labels: none

excluded tests
  apps/merchant-func/tsconfig.json
Labels: none

fixed route prefix
  apps/merchant-func/host.json
Labels: none

removed redundant doc
  docs/migration-v3-to-v4.md
Labels: documentation

fixed script
  apps/merchant-func/openapi/index.yaml
  apps/merchant-func/package.json
Labels: external-interface-changes

fixed script
  apps/merchant-func/package.json
Labels: none

fixed ts2esm config
  apps/merchant-func/package.json
  apps/merchant-func/tsconfig.json
Labels: none

changeset
  .changeset/small-adults-mix.md
Labels: none

Remove pnpm-plugin-pagopa (#122)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

(chore): Migrated to PMv4
  .changeset/soft-pugs-return.md
  apps/search-func/Count/__tests__/handler.test.ts
  apps/search-func/Count/function.json
  apps/search-func/Count/handler.ts
  apps/search-func/Count/index.ts
  apps/search-func/GetDiscountBucketCode/function.json
  apps/search-func/GetDiscountBucketCode/handler.ts
  apps/search-func/GetDiscountBucketCode/index.ts
  apps/search-func/GetMerchant/function.json
  apps/search-func/GetMerchant/handler.ts
  apps/search-func/GetMerchant/index.ts
  apps/search-func/GetOfflineMerchants/function.json
  apps/search-func/GetOfflineMerchants/handler.ts
  apps/search-func/GetOfflineMerchants/index.ts
  apps/search-func/GetOnlineMerchants/function.json
  apps/search-func/GetOnlineMerchants/handler.ts
  apps/search-func/GetOnlineMerchants/index.ts
  apps/search-func/GetPublishedProductCategories/function.json
  apps/search-func/GetPublishedProductCategories/handler.ts
  apps/search-func/GetPublishedProductCategories/index.ts
  apps/search-func/Info/function.json
  apps/search-func/Info/handler.ts
  apps/search-func/Info/index.ts
  apps/search-func/RefreshMaterializedViews/__tests__/handler.test.ts
  apps/search-func/RefreshMaterializedViews/function.json
  apps/search-func/RefreshMaterializedViews/handler.ts
  apps/search-func/RefreshMaterializedViews/index.ts
  apps/search-func/Search/function.json
  apps/search-func/Search/handler.ts
  apps/search-func/Search/index.ts
  apps/search-func/package.json
  apps/search-func/src/main.ts
  pnpm-lock.yaml
Labels: none

(chore): Migrated to Programming Model V4
  .changeset/tough-games-film.md
  apps/support-func/GetUserInfo/function.json
  apps/support-func/GetUserInfo/handler.ts
  apps/support-func/GetUserInfo/index.ts
  apps/support-func/Health/function.json
  apps/support-func/Health/handler.ts
  apps/support-func/Health/index.ts
  apps/support-func/__mocks__/mock.ts
  apps/support-func/package.json
  apps/support-func/src/main.ts
  apps/support-func/utils/errors.ts
  pnpm-lock.yaml
Labels: none

fixed linting
  apps/support-func/utils/errors.ts
Labels: none

[#IEG-2615] Migrated support-func to Azure Functions programming model v4 (#127)
  .changeset/tough-games-film.md
  apps/support-func/GetUserInfo/function.json
  apps/support-func/GetUserInfo/handler.ts
  apps/support-func/GetUserInfo/index.ts
  apps/support-func/Health/function.json
  apps/support-func/Health/handler.ts
  apps/support-func/Health/index.ts
  apps/support-func/__mocks__/mock.ts
  apps/support-func/package.json
  apps/support-func/src/main.ts
  apps/support-func/utils/errors.ts
  pnpm-lock.yaml
Labels: none

[#IEG-2614] Migrate search-func to Azure Functions v4 programming model (#126)
  .changeset/soft-pugs-return.md
  apps/search-func/Count/__tests__/handler.test.ts
  apps/search-func/Count/function.json
  apps/search-func/Count/handler.ts
  apps/search-func/Count/index.ts
  apps/search-func/GetDiscountBucketCode/function.json
  apps/search-func/GetDiscountBucketCode/handler.ts
  apps/search-func/GetDiscountBucketCode/index.ts
  apps/search-func/GetMerchant/function.json
  apps/search-func/GetMerchant/handler.ts
  apps/search-func/GetMerchant/index.ts
  apps/search-func/GetOfflineMerchants/function.json
  apps/search-func/GetOfflineMerchants/handler.ts
  apps/search-func/GetOfflineMerchants/index.ts
  apps/search-func/GetOnlineMerchants/function.json
  apps/search-func/GetOnlineMerchants/handler.ts
  apps/search-func/GetOnlineMerchants/index.ts
  apps/search-func/GetPublishedProductCategories/function.json
  apps/search-func/GetPublishedProductCategories/handler.ts
  apps/search-func/GetPublishedProductCategories/index.ts
  apps/search-func/Info/function.json
  apps/search-func/Info/handler.ts
  apps/search-func/Info/index.ts
  apps/search-func/RefreshMaterializedViews/__tests__/handler.test.ts
  apps/search-func/RefreshMaterializedViews/function.json
  apps/search-func/RefreshMaterializedViews/handler.ts
  apps/search-func/RefreshMaterializedViews/index.ts
  apps/search-func/Search/function.json
  apps/search-func/Search/handler.ts
  apps/search-func/Search/index.ts
  apps/search-func/package.json
  apps/search-func/src/main.ts
  pnpm-lock.yaml
Labels: none

changeset
  .changeset/tired-otters-grow.md
Labels: none

updated docs
  docs/card-func/container.puml
  docs/card-func/context.puml
Labels: documentation

removed env for app service and run pre-commit
  infra-io/resources/_modules/function_app_card/README.md
  infra-io/resources/_modules/function_app_search/README.md
  infra-io/resources/prod/README.md
  infra-pe/resources/_modules/app_service_onboarding_portal_backend/README.md
  infra-pe/resources/_modules/app_service_onboarding_portal_backend/locals.tf
  infra-pe/resources/_modules/app_service_onboarding_portal_backend/variables.tf
  infra-pe/resources/prod/README.md
  infra-pe/resources/prod/onboarding_portal_backend_ms.tf
  infra-pe/resources/uat/README.md
  infra-pe/resources/uat/onboarding_portal_backend_ms.tf
Labels: none

refresh install and copilot-instructions
  .github/copilot-instructions.md
  pnpm-lock.yaml
Labels: none

upgraded terraform
  infra-pe/resources/prod/.terraform.lock.hcl
  infra-pe/resources/uat/.terraform.lock.hcl
Labels: none

Switch to key vault references
  infra-io/resources/prod/README.md
  infra-io/resources/prod/data.tf
  infra-io/resources/prod/func_card.tf
  infra-io/resources/prod/func_search.tf
  infra-io/resources/prod/iam.tf
  infra-pe/github-runner/_modules/common/README.md
  infra-pe/repository/_modules/repo_environment/README.md
  infra-pe/resources/prod/README.md
  infra-pe/resources/prod/iam.tf
  infra-pe/resources/prod/onboarding_portal_backend_ms.tf
  infra-pe/resources/uat/README.md
  infra-pe/resources/uat/iam.tf
  infra-pe/resources/uat/onboarding_portal_backend_ms.tf
Labels: none

Switch to key vault references (#133)
  infra-io/resources/prod/README.md
  infra-io/resources/prod/data.tf
  infra-io/resources/prod/func_card.tf
  infra-io/resources/prod/func_search.tf
  infra-io/resources/prod/iam.tf
  infra-pe/github-runner/_modules/common/README.md
  infra-pe/repository/_modules/repo_environment/README.md
  infra-pe/resources/prod/README.md
  infra-pe/resources/prod/iam.tf
  infra-pe/resources/prod/onboarding_portal_backend_ms.tf
  infra-pe/resources/uat/README.md
  infra-pe/resources/uat/iam.tf
  infra-pe/resources/uat/onboarding_portal_backend_ms.tf
Labels: none

(infra) modified fragment name
  infra-io/resources/_modules/function_app_card/policies/v1/_base_policy.xml
  infra-io/resources/_modules/function_app_search/policies/v1/_base_policy.xml
Labels: none

(infra) modified fragment name (#134)
  infra-io/resources/_modules/function_app_card/policies/v1/_base_policy.xml
  infra-io/resources/_modules/function_app_search/policies/v1/_base_policy.xml
Labels: none

Remove engineering-team-cloud-eng team
  infra-pe/repository/_modules/repo_environment/variables.tf
Labels: none

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/openapi/*.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]
